[submodule "meta-ti"]
	path = meta-ti
	url = git://git.yoctoproject.org/meta-ti
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
